<div id="post_wrapper">
	<h1 class="title">
		<%= @posts.title %>
	</h1>
	<p class="date">
		Submitted <%= time_ago_in_words(@posts.created_at) %> ago
	</p>
	<p class="body">
		<%= @posts.body %>
	</p>
</div>